@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    margin : 0;
}
/*:root {*/
/*    --main-clr-brown: #6F4E37;*/
/*}*/

body {
    background-color: #6F4E37;
    /*background: url("media/background.jpg");*/
    /*background-size: cover;*/
}

.nav-link {
    color: white;
    text-decoration: underline;
}

.form-titles{
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0;

}

.sub-titles{
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #cc9900;
}

.selector {
    z-index: 3;
    display: flex;
    /*display: inline-block;*/
    /*height: 3em;*/
    font-family: 'Acme', sans-serif;;
    font-size: x-large;
    font-weight: bold;
    background-color: #6F4E37;
    color: #fff;
    border: 5px solid #cc9900;
    border-radius: 30px;
    text-align: center;
}

.selector::placeholder {
    color: white;
    opacity: 0.2;
}

.selector:hover {
    border: 5px #cc9900 solid;
    background-color: #6F4E37;
    color: white;
}

.selector:focus {
    border-color: black;
    background-color: #6F4E37;
    color: white;
    box-shadow: none;
}

.btn {
    color: black;
    font-size: x-large;
    line-height: 19px;
    padding: 14px;
    /*width: 50%;*/
    border-radius: 30px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    text-decoration: #E1D70F;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: white;
    border: 5px solid #cc9900;
    display: inline-block;
}

.myButton:hover {
    background: #cc9900;
    border-color: black;
}

.myButton:active {
    background: white;
}

.coffee-list{
    display: flex;
    min-height: 400px;
    flex-wrap: wrap;
    width:100%;
    margin: 10px 20px 50px 20px;
    padding: .5em;
    text-align: center;
}

#coffees{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
}

.product-container{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-name{
    display: flex;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    font-size: x-large;
    color: #cc9900;
    margin: 10px 10px 0 20px;
    text-align: left;
}

.product-roast{
    display: flex;
    flex-grow: 1;
    font-weight: normal;
    font-size: medium;
    color: white;
    margin: 10px 20px 0 10px;
    justify-content: flex-end;
}

/* my updates*/
.card {
    width:380px;
    height: 245px;
    border: none;
    padding: unset;

}
.card-img-top {
    width: 100%;
    /*height: 100%;*/
    max-height: 235px;
    object-fit: cover;
}
.card-text {
    font-size: 16px;
    font-family: 'EB Garamond', cursive, serif;
}

h3 {
    font-family: 'EB Garamond', cursive, serif;
    font-size: 25px;
    font-weight: 900;
}
p {
    font-family: 'EB Garamond', cursive, serif;
    font-size: 18px;
    font-weight: 900;
}

.pictures {
    display: flex;
    width: 25%;
}

#pic-1{
    background-size: cover;
    background: no-repeat;
    height: 575px;
    /*gap: 10px;*/
    /*height: 100vh;*/
    /*display: flex;*/
    /*max-height: 900px;*/
    /*flex-wrap: wrap;*/
    /*width:100%;*/
}

#pic-2{
    background-size: cover ;
    background: no-repeat;
    height: 575px;
    /*display: flex;*/
    /*max-height: 900px;*/
    /*flex-wrap: wrap;*/
    /*width:100%;*/
}

#pic-3{
    background-size: cover ;
    background: no-repeat;
    height: 575px;
    /*display: flex;*/
    /*max-height: 900px;*/
    /*flex-wrap: wrap;*/
    /*width:100%;*/
}

/*My updates*/
/*Updated logo and background images and updated css */
/*Applied card structure along with css*/
/*Updated font family and styled elements p h3 in bold*/
/*added root var for main color*/
/*js script updated*/
/*Everything else was essentially the same feel free to update images or any updates you see fit*/



/*.form-1, .form-2 {*/
/*    display: flex;*/
/*    !*flex-wrap: wrap;*!*/
/*    !*flex-direction: row;*!*/
/*    padding: 10px 20px;*/
/*    text-align: center;*/
/*}*/
/*.banner-top{*/
/*    display: flex;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    height: 10em;*/
/*    !*background: url("media/coffee-bannersquare2.png")*!*/
/*    background-size: 30em;*/
/*    align-items: flex-end;*/
/*}*/
/*#flip{*/
/*    transform: scaleY(-1);*/
/*}*/
/*.logo{*/
/*    display: flex;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    width: 20em;*/
/*    top: 30px;*/
/*}*/

/*.sections {*/
/*    display:flex;*/
/*    flex-wrap: wrap;*/
/*    max-width: 81%;*/
/*    width: 81%;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    background: #6F4E37;*/
/*}*/
/*.pic-block{*/
/*    display: flex;*/
/*    width: 50%;*/
/*}*/
/*#pic-1{*/
/*    background: url("media/cafe.jpeg");*/
/*    background-size: cover;*/
/*}*/
/*#pic-2{*/
/*    background: url("media/coffeepastry.jpg") no-repeat scroll 50% 0;*/
/*    background-size: cover;*/
/*}*/
/*.form-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    width: 50%;*/
/*    background: #B27E56;*/
/*    text-align: center;*/
/*}*/

/*h1 {*/

/*    text-align: center;*/
/*}*/


/*.inner-form{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    margin: 0 20px 0 20px;*/
/*    padding: .5em;*/
/*    justify-content: center;*/
/*}*/


